body{
    background-color: rgb(138, 136, 136);
    margin: 10px;
    padding: 10px;
    color: silver;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    padding: 15px;
    background-color: rgb(206, 206, 206);
    color : rgb(103, 103, 103);
}
p{
    padding: 5px;
    margin: 0px;
}
.line1{
    background-color: rgb(0,136,221);
}
.line2{
    background-color: rgb(0,149,226);
}
.line3{
    background-color: rgb(0,160,230); 
}
.line4{
    background-color: rgb(48,170,233);
}
.line5{
    background-color: rgb(84,182,237);
}
.line6{
    background-color: rgb(114,193,240);
}
.line7{
    background-color: rgb(140,202,242);
}
.line8{
    background-color: rgb(0,187,136);
}
.line9{
    background-color: rgb(245,176,204);
}
.line10{
    background-color: rgb(246,159,192);
}
.line11{
    background-color: rgb(245,140,178);
}
.line12{
    background-color: rgb(244,123,166);
}
.line13{
    background-color:  rgb(243,106,152);
}
.line14{
    background-color: rgb(244,90,139);
}
.line15{
    background-color: rgb(238,62,128);
}